.paginationList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px 10px 10px;
}

.paginationList span {
    padding: 1px 4px;
    border: 2px solid #673ab7;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.paginatorItems {
    padding: 0 20px;
}

.paginatorItems span {
    display: inline-block;
    font: 12px/30px "Arial";
    padding: 0px 7px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: 1px solid #ccc;
    margin-bottom: 0;
    cursor: pointer;
}


.pageNumber.selectedPage {
    font-weight: bold;
    color: #673ab7;
    background: #ededed;
}

.paginationList button {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0;
    color: #333;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0 10px;
    font: 12px/32px "Arial";
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.paginationList button:hover{
    background: #ededed;
}